p,body,hr,ul,li,caption{padding:0;margin:0;}
body{overflow:scroll;overflow-x:hidden;}
body{padding-top:72px;font-family:Helvetica,"Microsoft Yahei","微软雅黑",Arial,sans-serif;}
.carousel{background-color:#000;margin-bottom:60px;}
.carousel .item{background-color:#000;}
.carousel-caption p{margin-bottom:50px;font-size:20px;line-height:2em;}   
#pruduct-container{text-align:center;}
.pruductDetail{margin:40px 0px;}
/*.baidumap{width:100%;height:600px;border:#ccc solid 1px;font-size:12px;}*/
/*#foot{height:auto;background-color:#333;padding:8px 0px;color:#CCC;margin-top:10px;}
.footinf{margin-top:15px;}
*/


.navbar-inverse .navbar-toggle {
    border-color: #efefef;
}
.navbar-default .navbar-toggle {
    border-color: #efefef;
}


.addbtn{margin-top:20px;font-size: 14px;}
#pruductDetail a:hover{color:#519BD8;}
/*.textcenter{padding:15px 80px 0px 80px;text-align: left;}*/
.textcenter{padding:15px 20px 0px;text-align: left;}
.hrmargin{margin-top:45px;margin-bottom: 60px;}
.frameFixed{width:100%;background-color:#EEE;}
.textsize{font-size:18px;padding:30px 60px;text-align: left;line-height:1.5em;}
.textsize p{margin-bottom: 16px;text-indent: 2em;}
.frameFixed img{height:100%;width:100%;}  
.addheader{height:300px;background-image: url("../images/employ1.jpg") 0 0 no-repeat;}
.addheader img{max-width:100%;height:100%;}
.addcontainer{padding-top:160px;text-align:center;color:#FFF;}
.mulcontent{height:800px;width:100%;}
.jipartone{background:url("../images/p21.jpg") 0 0 no-repeat;background-size:100% 100%;}
.jiparttwo{background:url("../images/p22.jpg") 0 0 no-repeat;background-size:100% 100%;}
.jipartthree{background:url("../images/p23.png") 0 0 no-repeat;background-size:100% 100%;}
.dataone{background:url("../images/p11.jpg") 0 0 no-repeat;background-size:100% 100%;}
.datatwo{background:url("../images/p12.jpg") 0 0 no-repeat;background-size:100% 100%;}
.datathree{background:url("../images/p13.jpg") 0 0 no-repeat;background-size:100% 100%;}
.post{padding:25px;background:#FFF;margin-bottom:35px;position:relative;overflow: hidden;}
.postone{margin-top:35px;}
.post-title{font-size:2em;line-height:1.2em;margin:0px;}
.post-title a{ text-decoration:none;}
.post-meta{color:#959595;margin:14px 0 0px;}
.post-content{margin:10px 0;font:400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;text-align: left;}
.post-btn{font:"Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;background-color: #f4645f;border:1px solid #f4645f;transition: all 0.2s ease-in-out;color:#FFF;}
.post-footer{margin-top: 30px;border:1px solid #ebebeb;display: block;}
.title{padding-bottom:7px;border-bottom: 1px solid #ebebeb;margin:0px 0 21px;position: relative;text-align: left;font-size:20px;}
.contactway{text-align:left;margin-bottom: 8px;font-size:16px;}
.employ{color:#f4645f;text-align: left;margin-top:6px;}
.post a:hover{text-decoration:none;color:#337ab7;}
.employbgcolor{background-color:#EBEBEB;}
.employlabel{margin-right:6px;}
.notify{list-style-type:none;padding-top: 16px;}
.notify li{font-size:16px;line-height:28px;text-align: left;padding-bottom: 4px;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}
.notify li a{color:#000;text-decoration: none;}
.notify li a:hover{color:#cd0200;}
.notifytitle{border-bottom: 1px solid #CCC;overflow: auto;position:relative;}
.notifycaption{font-size:22px;color:#337ab7;float:left;border-bottom: 1px solid #519BD8;}
.notifymore{font-size:18px;color:#CCC;position:absolute; right:0; bottom:0;}
.navbar-brand{padding:10px 15px}
.navbar-height{height:70px;} 
.navbar-brand a:link{color:#CCC;text-decoration:none;}
.navbar-brand a:visited{color:#CCC;text-decoration:none;}
.ab{margin-top:20px;}
.rowadd{margin-bottom: 40px;}
.navadd{background-color: #efefef;}
.addnav{margin-top:-41px;padding-left:400px;} 
.topnav{height:30px;background-color:#b81b24;color:#FFF;line-height: 30px;}
.navheight{height:auto;}
.navheight > li > a{padding:25px;font-size: 16px;}
.aa{font-size: 16px;}
/*.enggitop{padding:6px 0 0 0;margin-top:4px;}*/
.nav a:hover{color:red;}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{color:#db001b;}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a{color:#000;}
.navbar-fixed-top{border:#CCC solid 1px;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{background-color:#FFF;}

.addparterhead{height:300px;background-image: url(../images/parter.jpg);background-image:no-repeat;background-size:100% 100%;}
.smalltitle{margin:4px 0 2px;font-size:18px;color:#519BD8;}
.enghr{border:1px #EBEBEB solid;}
.jobhr{margin:12px 0;background-color:#FFF;border:none;}
.jobbottom{margin-bottom:5px;font-size:16px;}
.jobbottom a:hover{color:#f4645f;text-decoration:none;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{background-color:#FFF;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{color:#db001b;}
#parter{text-align: center;}
#parter a{color:#666;text-decoration: none;}
#parter a:hover{color:#b81c22;text-decoration: none;}
.addthumbnail{margin-bottom:40px;}
.partertop{margin-top:40px;}

.footer{padding-top:8px 0px;color:#fff;font-height:2em;text-align: center;}
#footer a{color:#FFF;text-decoration: none;}
#footer a:hover{color:#000;text-decoration: none;}
.fbgpic{background-color:#C9393B;padding:30px 0;}
.fbg{background-color:#333;}
.fone{height:100px;border-left:1px solid #E5545F;border-right:1px solid #E5545F;font-size: 16px;}
.ftwo{height:100px;padding-top: 5px;}
.fthree{height:100px;border-left:1px solid #E5545F;border-right:1px solid #E5545F;padding-top: 40px;}
.fthree img:hover{opacity:0.5;}
.pullright{text-align:right;padding:0 25px;margin-top:8px;}
.pullleft{text-align:left;padding:0 25px;margin-top:8px;}
.navbar-inverse .navbar-toggle .icon-bar{background-color: #666;}  /*横线颜色*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{background-color: #ccc;} /*点击背景颜色*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{color:#db001b;}
.lastline{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.btn-default:hover{color:#db001b;background-color:#FFF;border-color:#ccc;}
.proimg{width:30%;float:left;}
.protxt{width:70%;float:left;}
.item img{margin:auto;}
.navbar-toggle{padding:9px 10px;margin-top:28px;}
.backtotop{position:fixed;right:100px;bottom:60px;width:40px;height:40px;text-align: center;display:block;cursor:pointer;vertical-align: middle;background-color: #888;}
.backtotop .inner{padding-top:8px;font-size:24px;color:#fff;}
.backtotop .inner:hover{color:#F4655F;}
.department-color{color:#db001b;}
.dropdown-menu > li > a{text-align: center;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{color:#db001b;text-align: center;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border-color:#CCC;}
.navlogo{background:url("images/logo.png") no-repeat 0 50%;}
@media (max-width:767px)
	{
		.mediatextsize{padding:25px 8px;}
		.mediatextcenter{padding:15px 10px 0px 10px;}
		/*.mediaenggitop{padding:0px;margin-top:-2px;}*/
		.repullright{text-align:right;}
		.repullleft{text-align:left;}
		.nodisplay{display: none;}	
		.smallshow{display:block;}
		.corepro{font-size: 24px;}
		.coreprotitle{font-size: 16px;}
		.coreprolow{font-size: 14px;}
		.mediapruductDetail{margin:10px 0px;}
		.mediatextcenter{padding:1px 0px 0px 0px;}
		.mediafooter{margin-top:10px;}
		.mediaaddbtn{margin-top:5px;}javascript:;
		.mediabtnone{margin-bottom:40px;}
		.mediabtntwo{margin-bottom:10px;}
		.mediahr{margin:10px 0px 0px 0px;}
		.mediafthree{height:40px;padding-top:24px;}
		.carousel{margin-bottom:16px;}
		.partertop{margin-top:20px;}
		/*.enggitop img{height:100%;width:100%;padding:5px;}*/
		.media-aright{padding-right:16px;}
		.media-aleft{padding-left:16px;}
		.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header{padding:3px 3px 3px 3px;}
		.dropdown-menu > li > a{padding:3px 0px;}
		.dropdown-menu{min-width: 120px;}
		.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus{color:#db001b;}
	    body{padding-top:70px;}
	}
	@media (max-width:400px)
	{
		.mediabtnone img{width:100%;height:100%;margin-top:34px;}
		.mediabtntwo img{width:100%;height:100%;margin-top:34px;}
		.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{padding-left:0px;padding-right:0px;}
	    .navheight > li > a{padding:5px 25px;font-size: 16px;}
	    .addheader{height:120px;}
	    .postone{margin-top:0px;}
	    .post{margin-bottom:25px;}
		.postlast{margin-bottom:0px;
	}

